# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

##Backend
/backend/*
!/backend/README.md
!/backend/wp-content/
/backend/wp-content/*
!/backend/wp-content/themes/
!/backend/wp-content/themes/sample-react-theme/
/backend/wp-content/themes/sample-react-theme/node_modules
/backend/wp-content/themes/sample-react-theme/webpack.config.js

## Frontend
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.env

/frontend/src/config.js

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*