.project-description {
    .wrapper {
        .info {
            background-color: #edf6fe;
            padding: 3rem;
            border-left: 4px solid #1b3454;
            border-radius: 0 8px 8px 0;
            h2 {
                padding: 0 0 18px 0;
            }
        }
    }
}